<?xml version='1.0' encoding='utf-8'?>
<widget id="com.common.news" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SAS Flights</name>
    <description>
        SAS Flights Schedule for Khartoum International Airport
    </description>
    <author email="omaralfarouk@hotmail.com" href="http://phonegap.com">
        omyalpha
    </author>
    <content src="index.html" /> 
	<icon src="icon.png" />
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<splash src="splash.png" />
	<splash platform="android" qualifier="port-ldpi" src="img/splash/andoid/port-ldpi.png" />
	<splash platform="android" qualifier="port-mdpi" src="img/splash/android/port-mdpi.png" />
	<splash platform="android" qualifier="port-hdpi" src="img/splash/android/port-hdpi.png" />
	<splash platform="android" qualifier="port-xhdpi" src="img/splash/android/port-xhdpi.png" />
	 
	<splash platform="android" qualifier="land-ldpi" src="img/splash/android/land-lhdpi.png" />
	<splash platform="android" qualifier="land-mdpi" src="img/splash/android/land-mdpi.png" />
	<splash platform="android" qualifier="land-hdpi" src="img/splash/android/land-hdpi.png" />
	<splash platform="android" qualifier="land-xhdpi" src="img/splash/android/land-xhdpi.png" />
	
	<platform name="ios">    
		<splash src="img/splash/ios/Default~iphone.png" width="320" height="480"/>
		<splash src="img/splash/ios/640x960.png" width="640" height="960"/>
	 
		<splash src="img/splash/ios/768x1024.png" width="768" height="1024"/>
		<splash src="img/splash/ios/1536x2048.png" width="1536" height="2048"/>
	 
		<splash src="img/splash/ios/1024x768.png" width="1024" height="768"/>
		<splash src="img/splash/ios/2048x1536.png" width="2048" height="1536"/>
		
		<splash src="img/splash/ios/640x1136.png" width="640" height="1136"/>
		<splash src="img/splash/ios/750x1334.png" width="750" height="1334"/>
		<splash src="img/splash/ios/1242x2208.png" width="1242" height="2208"/>
		<splash src="img/splash/ios/2208x1242.png" width="2208" height="1242"/>
	</platform>
	
	<splash platform="windows" src="img/splash/windows/1152x1920.png" width="1152" height="1920"/>
</widget>
